on init
    # Goodix fingerprint
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp

on boot
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/fod_ui
    chown system system /sys/devices/virtual/touch/tp_dev/fod_status

    chmod 0660 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/fod_ui
    chmod 0660 /sys/devices/virtual/touch/tp_dev/fod_status

on post-fs-data
    mkdir /data/vendor/goodix 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system

service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.3-service.xiaomi_raphael
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid
